force-app/main/default/flows/Create_Listing_or_Request_From_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_Case_Type</name>
        <label>Check Case Type</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tenant_Buyer_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tenant_Buyer_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Buyer_Request</targetReference>
            </connector>
            <label>Tenant/Buyer Request</label>
        </rules>
        <rules>
            <name>Seller_Landlord_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seller_Landlord_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Listing</targetReference>
            </connector>
            <label>Seller/Landlord Request</label>
        </rules>
    </decisions>
    <description>Automatically creates a Listing or Request record when a Case is created, based on its Record Type. Links the new record to the Case.</description>
    <environments>Default</environments>
    <interviewLabel>Create Listing or Request From Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Listing or Request From Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Buyer_Request</name>
        <label>Create Buyer Request</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Listing</name>
        <label>Create Listing</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
